	<div class="field">
		<h3>Comentarios</h3>
		<%= render "comments/form" %>
		<ul id="comments-box">
			<% @article.comments.each do |comment|%>
			<li> 
				<%= comment.body%> - <%= comment.user.email %>
			</li>	
			<%end%>
		</ul>	
	</div>	